@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"),   url(@/assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local("Poppins Medium"),   url(@/assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  font-weight: 500;
}