/* styles which have to be applied to the whole page*/
@import './fonts.css';
@import './constants.css';

:root {
    font-family: "Poppins", Calibri, sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;

    color-scheme: light dark;
    color: var(--color-text);
    background-color: var(--color-background);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/*vue.js global value*/
#app {
    text-align: center;
    min-width: auto;
    width: 100vw;
    height: 100vh;
    line-height: normal;
}


body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    margin: 10px
}

h2 {
    margin: 10px;
    font-weight: 600;
}

h3 {
    margin: 10px;
    font-weight: 600;
}

h4 {
    margin: 10px;
    font-weight: 600;
}

h5 {
    margin: 10px;
    font-weight: 600;
}


p {
    margin: 10px;
}

/* semantic color variables for this project */
:root {
  --color-main: var(--palette-purple-5);
  --color-main-white: #eeeeee;
  --color-text: var(--color-main-white);
  --color-background: #202020;
  --color-stroke: var(--palette-grey-1);
  --color-default-text-textbox: var(--palette-grey-1);
  --color-textboxfill: var(--palette-grey-9);
  --color-lines: var(--palette-grey-3);
  --color-subheader: var(--palette-grey-1);
  --color-input-textbox: var(--palette-grey--1);
  --color-selected: var(--palette-purple-3);
  --color-cell-background: #3c3054;
  --color-purple-button: var(--palette-purple-85);
  --color-disabled-button: var(--palette-grey-4);
  --color-close-button: #D64751;
  --color-topbar: rgb(47, 41, 58, 0.95);
  --color-input-optional: rgb(19, 104, 211);
}

/* add colors for light mode here */
.light-mode {

}

/* material icon css rules */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

